@import "../../tui/css/awesome4.less";
body {
	margin: 0;
}

#forkme {
	position: absolute;
	right: 80px;
	bottom: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #127af1;
	font-weight: bold;
	padding: 6px 20px;
	a {
		color: white;
		&:hover {
			color: white;
			text-decoration: underline;
		}
	}
}

.tui-navbar {
	padding: 0;
	background-color: black;
	height: 44px;
	color: white;
	min-width: 990px;
	.tui-button, .tui-radiobox {
		margin-top: 0;
		margin-bottom: 0;
		height: 44px;
		line-height: 44px;
		padding-top: 0;
		padding-bottom: 0;
		border: none;
		background: black;
		color: white;
		outline: none;
		filter: none;
		border-radius: 0px;
		&:hover,&.tui-focus,&:active,&.tui-actived {
			background: #666;
			color: white;
		}
	}
	.tui-radiobox {
		padding: 0 8px;
		&:before {
			content: none;
		}
		&[data-checked] {
			background: #666;
			color: white;
		}
	}
}

#footer {
	background-color: #ddd;
	height: 100px;
	line-height: 100px;
	min-width: 990px;
	color: #888;
	border-top: 1px solid #d5d5d5;
	overflow: hidden;
	position: relative;
}

#footer > div {
	position: absolute;
	height: 140px;
	z-index: 0;
	top: 0px;
	left: -20px;
	right: -20px;
	display: block;
	-webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.1);
}

// For accordion group
.index {
	position:fixed;
	left:20px;
	top:100px;
	bottom:50px;
	width:260px;
	z-index:10;
}

#docContent {
	margin:40px;
	margin-left:320px;
	min-height:700px;
}

.doc-container {
	margin:0;
}

.doc-caption {
	position:relative;
	margin-top:20px;
	padding:10px 5px;
	font-size:18px;
	font-weight:bold;
	border-bottom:1px dotted #ccc;
	color:black;
	.tui-button {
		position:absolute;
		bottom:0;
		right:0;
		margin-top: 0;
		margin-bottom: 0;
		height: 36px;
		line-height: 36px;
		padding:10px;
		padding-top: 0;
		padding-bottom: 0;
		border: none;
		background: none;
		color: black;
		outline: none;
		filter: none;
		border-radius: 0px;
		&:hover,&.tui-focus,&:active,&.tui-actived {
			background: #f0f0f0;
			color: black;
		}
	}
	&:before {
		content:attr(data-number) ".";
		margin-right:8px;
	}
	&.doc-level-0 {
		font-size:52px;
		font-weight:normal;
		border-bottom:4px double #ccc;
		color:#555;
		&:before {
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			.fa-book;
		}
	}
	&.doc-level-1 {
		padding:10px 5px;
		font-size:48px;
		color:#9716bc;
		border-bottom:1px solid #9716bc;
		margin-top:30px;
		font-weight:normal;
	}
	&.doc-level-2 {
		font-weight:normal;
		font-size:32px;
		color:#127af1;
	}
	&.doc-level-3 {
		font-size:26px;
		color:black;
	}
}

.doc-desc {
	padding:20px 5px;
}

.doc-table {
	width:100%;
	table-layout:fixed;
	tr {
		th,td {
			border-top:1px solid #ccc;
			padding:8px 5px;
			text-align:left;
		}
		th {
			background-color:#f5f5f5;
			&.doc-col-0 {
				width:180px;
			} 
			&.doc-col-1 {
				width:120px;
			}
		}
	}
}

.doc-code {
	&:before {
		content:"CODE:";
		position:absolute;
		display:block;
		left:5px;
		top:-24px;
		font-size:18px;
		font-weight:bold;
		color:black;
	}
	position:relative;
	border:1px solid #ccc;
	background-color:#f5f5f5;
	padding:20px;
	margin-top:40px;
	font-size:16px;
	font-family:'Courier New';
	tab-size:4;
	overflow:visible;
	white-space: pre-wrap;
}

.doc-pic {
	margin:20px 0px;
	border:none;
}

.tui-accordion .tui-list .tui-grid-line.tui-accordion-row-checked {
	background-color:#9716bc;
	.tui-grid-cell .tui-grid-cell-content {
		color:white;
	}
}

.doc-dlg-label {
	display:inline-block;
	padding:10px;
	width:40px;
	text-align:right;
	vertical-align:middle;
}
.doc-dlg-input {
	width: 400px;
}
.doc-dlg-textarea {
	display:inline-block;
	width: 400px;
	margin-top:3px;
	vertical-align:top;
	min-height:120px;
}

.doc-section-dlg-tab {
	padding:20px;
	min-height:250px;
	min-width:505px;
	.tui-radiobox.tui-underline {
		border-bottom:2px solid transparent;
		&[data-checked] {
			border-bottom:2px solid #017bce;
			&:before {
				content:none;
			}
		}
	}
}
