@import 'tui-common.less';

// Calendar Control
.tui-calendar {
	@activeBackColor:#f5f5f5;
	@weekendBackColor:#fafafa;
	@todayBackColor:#017bce;
	padding:2px;
	border: 1px solid @borderColor;
	white-space:nowrap;
	display:inline-block;
	font-family: Calibri;
	font-size:14px;
	vertical-align:middle;
	cursor:default;
	td {
		padding:3px;
		text-align:center;
		width: 24px;
		border:1px solid transparent;
		&[colspan='3'] {
			width:inherit;
		}
		&.tui-prev-month,&.tui-next-month {
			color:#d0d0d0;
		}
		&.tui-weekend {
			background-color:@weekendBackColor;
		}
		&.tui-today {
			color:#f00;
			border:1px solid @todayBackColor;
		}
		&.tui-actived {
			background-color:@todayBackColor;
			color:#fff;
		}
		&.tui-prev-month-btn {
			cursor:pointer;
			&:before {
				.icon;
				.fa-angle-left;
			}
			&:hover {
				background-color:@activeBackColor;
			}
		}
		&.tui-prev-year-btn {
			cursor:pointer;
			&:before {
				.icon;
				.fa-angle-double-left;
			}
			&:hover {
				background-color:@activeBackColor;
			}
		}
		&.tui-next-month-btn {
			cursor:pointer;
			&:before {
				.icon;
				.fa-angle-right;
			}
			&:hover {
				background-color:@activeBackColor;
			}
		}
		&.tui-next-year-btn {
			cursor:pointer;
			&:before {
				.icon;
				.fa-angle-double-right;
			}
			&:hover {
				background-color:@activeBackColor;
			}
		}
	}
	.tui-week {
		background-color: @todayBackColor;
		color:#fff;
		font-size:12px;
	}
	.tui-calendar-timebar {
		font-family: Microsoft Yahei;
		font-size:14px;
		font-weight: bold;
		padding:4px 2px;
		border-top:1px dotted @borderColor;
		text-align:center;
		color:#aaa;
		.tui-calendar-timebox {
			border:0;
			/*border:1px solid @borderColor;*/
			background-color: transparent;
			padding: 0px 4px;
			margin:0px;
			/*height:22px;*/
			width:18px;
			vertical-align: middle;
			text-align: center;
			outline:none;
		}
		.tui-calendar-update {
			font-weight:normal;
			cursor:pointer;
			margin-left:5px;
			&:before {
				padding:0px 5px;
				display:inline-block;
				.icon;
				.fa-refresh;
			}
		}
	}
}