@import 'tui-common.less';

.tui-accordion {
	display:block;
	position:relative;
	.border-radius(@panelBorderRadius);
	border:1px solid @borderColor;
	overflow:hidden;
	.tui-accordion-caption {
		background-color:@captionColor;
		height:34px;
		line-height:34px;
		text-align:center;
		font-size:@fontSize + 2;
		.top-radius(@panelBorderRadius);
		border-bottom:1px solid @borderColor;
		cursor:pointer;
		&.tui-folded {
			border-bottom:none;
		}
	}

	.tui-list {
		.border-radius(0px);
		.bottom-radius(@panelBorderRadius);
		border:none;
		.tui-grid-line {
			cursor:pointer;
			.tui-grid-cell .tui-grid-cell-content {
				cursor:pointer;
			}
			&.tui-grid-line-selected {
				background-color:#f4fdff;
				.tui-grid-cell {
					color:@tableTextColor;
				}
			}
		}
	}
}